@font-face {
    font-family: "RobotoB";
    src: url('RobotoFont/Roboto-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "RobotoR";
    src: url('RobotoFont/Roboto-Regular.ttf') format("truetype");
}

html, body {
   min-height: 100%;
   height: 100%;
   margin: 0;
}

body {
   min-height: 100%;
   font-size: 1.4em;
   font-family: 'RobotoR', sans-serif;
}

p {
   margin: 0 !important;
}

#page1 {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   z-index: 3;
}

#page1TopDiv {
   height: 100vh;
   background: rgba(143,143,143,0);
   background: -moz-radial-gradient(center, ellipse cover, rgba(143,143,143,0) 0%, rgba(36,36,36,0.4) 100%);
   background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(143,143,143,0)), color-stop(100%, rgba(36,36,36,0.4)));
   background: -webkit-radial-gradient(center, ellipse cover, rgba(143,143,143,0) 0%, rgba(36,36,36,0.4) 100%);
   background: -o-radial-gradient(center, ellipse cover, rgba(143,143,143,0) 0%, rgba(36,36,36,0.4) 100%);
   background: -ms-radial-gradient(center, ellipse cover, rgba(143,143,143,0) 0%, rgba(36,36,36,0.4) 100%);
   background: radial-gradient(ellipse at center, rgba(143,143,143,0) 0%, rgba(36,36,36,0.4) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f8f8f', endColorstr='#242424', GradientType=1 );
}

#page1TopDiv > div {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
}

#page1TopDiv > div > * {
   text-align: center;
}

#page1TopDivTitleDiv {
   display: flex;
   justify-content: center;
   align-items: center;
}

#page1TopDivTitle {
   font-size: 20vw;
   font-family: 'RobotoB', sans-serif;
   width: 100%;
   text-shadow: 0 0.032em 0 #b0b0b0, 0px 0.15em 0.11em rgba(0,0,0,0.15), 0px 0.25em 0.021em rgba(0,0,0,0.1), 0px 0.32em 0.32em rgba(0,0,0,0.1);
   color: #fff;
}

#page1TopDivButtonDiv {
   width: 100%;
   text-align: center;
}

#page1TopDivButtonDiv > button {
   border: 2px solid white;
   background-color: #343a40;
   color: white;
   font-size: 5vw;
   font-weight: 500;
   border-radius: 6px;
   margin: 20px;
   padding: .50rem;
   width: 30%;
   max-width: 220px;
   opacity: 0.9;
}

#page1TopDivButtonDiv > button:hover {
   opacity: 1;
   box-shadow: -0.45rem 0.55rem 2px #888888;
}

#page1BottomDiv {
   background-color: #F5F5F6;
   flex-grow: 1;
   text-align: center;
   padding-bottom: 20vh;
   font-size: 3vw;
}

.page1Title {
   padding: 24px;
   background-color: rgba(255, 245, 157, .5);
}

#page1BottomDivTitle, #page1BottomDivWhyTitle {
   font-size: 6vw;
}

#page1BottomDivSubtitle, #page1BottomDivWhySubtitle {
   font-size: 4vw;
}

.page1BottomExample {
   display: flex;
   flex-direction: row;
   margin: 20px;
}

.page1BottomExample > :first-child {
   flex-basis: 20%;
}

.page1BottomExample > :last-child {
   flex-basis: 70%;
   flex-grow: 1;
}

#page1BottomAccordionTitle, #page1BottomCardTitle, #page1BottomWhyTitle {
   padding: 10px;
}

#page1BottomAccordionDetails, #page1BottomCardDetails, #page1BottomWhyDetails {
   padding: 10px;
   text-align: center;
}

/* For animation */
#page1TopDivTitle, #page1TopDivButtonDiv, #page1BottomDivTitle,
#page1BottomDivSubtitle, #page1BottomAccordionTitle, #page1BottomAccordionDetails,
#page1BottomAccordionExample, #page1BottomCardTitle,  #page1BottomCardDetails,
#page1BottomCardDetailsImage, #page1BottomDivWhyTitle, #page1BottomWhyTitle,
#page1BottomWhyDetails {
   opacity: 0;
}

#page1BottomDiv > p {
   height: 100%;
}

#page2 {
   display: none;
   flex-direction: column;
   z-index: 2;
   height: 100%;
   width: 100%;
   background-color: #F5F5F6;
}

#page2TopBarDiv {
   flex-basis: 50px;
   min-height: 50px;
   display: flex;
}

#page2TopBarDivBackbutton {
   height: 50px;
   width: 80px;
   display: flex;
   align-items: center;
   padding-left: 10px;
   cursor: pointer;
   position: absolute;
   top: 0;
   left: 0;
}

#page2TopBarDivBackbutton > p {
   margin: 0 0 2px 10px !important;
   color: white;
}

#page2TopBarDivBackbutton i {
   font-size: 30px;
   color: white;
   opacity: 0.8;
}

#page2TopBarDivTitle {
   flex-grow: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'RobotoB', sans-serif;
}

#page2TopBarDivTitle > p {
   margin-bottom: 0;
   color: white;
}

#page2BottomDiv {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
}

#page2BottomLeftDiv {
   display: flex;
   flex-direction: column;
   min-height: 50px;
}

#page2BottomLeftDivLeftDiv {
   height: 0;
}

#page2BottomLeftDivRightDiv {
   min-height: 50px;
   display: flex;
   background-color: pink;
}

#page2BottomLeftDivRightDiv > div {
   flex-basis: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}

#page2BottomLeftDivRightDiv > div > * {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 2px;
   width: 100%;
   height: 100%;
   font-size: 1.5rem;
   color: white;
}

#page2BottomLeftDivRightDiv > .clearSpace {
   flex-grow: 1;
   margin: 0;
}

#page2BottomLeftDivRightDiv > hr {
   margin: 0;
   height: 1px;
   background-color: rgb(122,122,122);
}

#page2BottomRightDiv {
   flex-grow: 1;
   overflow-y: auto;
}

#componentsDiv {
   padding: 20px;
}

.accordionDiv {
   display: flex;
   margin-bottom: .75rem;
   background-color: rgba(0, 0, 0, .03);
   border-radius: 5px;
}

.accordionDraggableDiv {
   flex-basis: 20px;
   border-radius: 5px 0 0 5px;
   cursor: move;
}

#cardIndicatorDiv {
   display: flex;
   margin-top: 10px;
   flex-direction: column;
}

#cardIndicatorDiv > :first-child{
   order: 1;
}

#cardIndicatorDiv > :last-child{
   order: 2;
}

#cardIndicatorDiv > * {
   margin: 10px;
}

#cardIndexIndicator {
   font-size: 8vw;
   flex-grow: 1;
   text-align: center;
   font-weight: 900;
}

#page3 {
   display: none;
   z-index: 1;
   background-color: rgb(204, 10, 10);
   height: 100%;
   width: 100%;
}

[contentEditable='true'] {
   cursor: auto;
}

.accordionDiv > .accordion {
   margin: 0;
}

.accordion {
   width: 100%;
   text-align: center;
   cursor: pointer;
   padding: 0 .75rem;
   margin-bottom: 24px;
   color: inherit;
   background-color: rgba(0, 0, 0, .03);
   border-bottom: 1px solid rgba(0, 0, 0, .125);
   border-radius: 5px;
}

.accordion>:first-child {
   margin: 0;
   padding: 16px 0;
}

.accordion .accordionContent {
   border-top-style: solid;
   border-top-width: 0;
   background-color: white;
   border-radius: 2px;
   overflow: auto;
   max-height: 0;
   transition-property: max-height, border-top-width;
   transition-duration: 0.5s;
   transition-timing-function: ease-in-out;
}

.expand.accordionContent {
   max-height: 5000px !important;
   border-top-width: 1px !important;
   border-top-color: rgba(133, 133, 133, .75);
   margin-bottom: 8px;
}


.cardAnimationDiv {
	position: relative;
	width: 100%;
	height: 400px;
	border: 1px red solid;
	background-color: black;
}

.cardSwipeDiv {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	text-align: center;
	border: 1px solid black;
	background-color: white;
	display: flex;
	flex-direction: column;
	user-select:none;
}

.cardSwipeDiv > p:first-child > a {
	text-decoration: none;
}

.cardSwipeDiv > p:first-child {
	margin: 0;
	padding: 16px;
}

.cardSwipeDiv .cardSwipeContent {
	height: 100%;
	width: 100%;
	border-top-style: solid;
	border-top-width: 0;
	overflow: auto;
	transition-property: height, border-top-width;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

@media only screen and (max-width: 425px) {
   #page1TopDiv {
      height: 100vw;
   }

   .page1BottomExample {
      flex-direction: column;
   }

   .page1BottomExample > :first-child {
      flex-grow: 1;
   }

}

@media only screen and (min-width: 425px) and (max-width: 768px){
   #page1TopDiv {
      height: 100vh;
   }

   .page1BottomExample {
      flex-direction: column;
   }

   #page1BottomDiv {
      font-size: 24px;
   }
}

@media only screen and (min-width: 768px) {
   #page1TopDivButtonDiv > button {
      font-size: 42px;
      width: 30%;
      max-width: 250px;
   }

   #page1TopDivTitle {
      font-size: 160px;
   }
   #page1BottomDivTitle, #page1BottomDivWhyTitle {
      font-size: 56px;
   }
   #page1BottomDivSubtitle {
      font-size: 40px;
   }

   #page1BottomAccordionDetails, #page1BottomCardDetails, #page1BottomWhyDetails {
      text-align: left;
   }

   #page1BottomDiv {
      font-size: 28px;
   }

   #page2BottomDiv {
      flex-direction: row;
   }

   #page2BottomLeftDiv {
      flex-direction: row;
   }

   #page2BottomLeftDivLeftDiv {
      width: unset;
      height: 0;
   }

   #page2BottomLeftDivRightDiv {
      flex-direction: column;
      min-width: 50px;
      min-height: unset;
   }

   #page2BottomLeftDivRightDiv > :first-child {
      margin: 0 0 5px 0;
   }

   #page2BottomLeftDivRightDiv > :last-child {
      margin: 0;
   }

   #page2BottomLeftDivRightDiv > div {
      margin: 5px 0;
   }

   #cardIndicatorDiv {
      flex-direction: row;
   }

   #cardIndicatorDiv > :first-child{
      order: 0;
   }

   #cardIndicatorDiv > :last-child{
      order: 0;
   }

   #cardIndexIndicator {
      font-size: 24px;
   }
}
